{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ _('import') }}: {{wiki}}</h1>
    <form method="post">
        <p>This will import the file to the target wiki. This can take several minutes.</p>
        <p>Please review the files first. You can view them <a href="https://tools-static.wmflabs.org/wiki-importer/data/{{wiki.dbname}}">here</a>.</p>
        <input class="btn btn-primary btn-success form-control" type="submit" value="{{ _('import') }}">
    </form>
</div>
{% endblock %}